.topMenu {
         font-size: 14px;
         box-sizing: border-box;
         position: relative;
         width: 100%;
         padding: 10px 0 10px 60px;
         margin-bottom: 20px;
        .title {
            a {
                padding-bottom: 1px;
                border-bottom: 1px solid #E1E6ED;
            }
        }
         .image {
             position: absolute;
             content: '';
             left: 0px;
             top: 0;
             width: 39px;
            height: 39px;
            border-radius: 50%;
             background: transparent url('img/avatars/avatar.png') 50% 40% no-repeat;
         }
     }