.message {
    z-index: 95;
    max-width: 440px;
    max-height: 100vh;
    @import 'search';
    overflow-y: scroll;
    &::-webkit-scrollbar {
        display: none;
    }

    .unread {
        border-top: 1px solid #E1E6ED;
        background-color: #F7F9FC;
    }
    .read {
        border-top: 1px solid #E1E6ED;
        background-color: #F7F9FC;
        .name,.text,.label {
            opacity: 0.7;
        }
    }
    .active {
        border-right: 1px solid #E1E6ED;
        background-color: #fff;
        z-index: 99;
    }
    .emailMessage:nth-of-type(2) {
        border-top: none;
    }
    .emailMessage {
        position: relative;
        box-sizing: border-box;
        padding: 32px 57px 10px 80px;
        height: 156px;
        color: #25252B;
        .name {
            font-size: 12px;
            padding-bottom: 4px;
        }
        .label {
            display: inline;
            position: relative;
            font-size: 15px;
        }
        .important {
            &:before {
                position: absolute;
                top: 5px;
                right: -15px;
                content: '';
                height: 8px;
                width: 8px;
                border-radius: 50%;
                background-color: #EB028C;
            }
        }
        .text {
            padding-top: 8px;
            font-size: 14px;
        }
        .image {
            position: absolute;
            top: 32px;
            left: 24px;
            width: 39px;
            height: 39px;
            border-radius: 50%;
            background: transparent url('img/avatars/avatar.png') 50% 40% no-repeat;
        }
        .timecode {
            position: absolute;
            right: 24px;
            top: 32px;
            text-transform: uppercase;
            font-size: 12px;
        }
        .attachment {
            &:before {
                content: '';
                position: absolute;
                left: -17px;
                top: 2px;
                width: 8px;
                height: 16px;
                background: transparent url('img/icon/attachment.png') no-repeat;
            }
        }
        .lightning {
            position: absolute;
            bottom: 38px;
            right: 24px;
            width: 9px;

            height: 16px;
            background: transparent url('img/icon/important.png') center;
        }

    }
}