section.letter
    .topMenu
        .title
            span.image
            a(href="") John Appleaseed
            | &nbsp;to&nbsp;
            a(href="") contact@jakubwp.com
    .textBlock
        p.time Today, 6:02 AM
        h2.title The Basics Of Buying A Telescope
        p.text Hello Jakub,

        p.text Buying the right telescope to take your love of astronomy to the next level is a big next in the development of your passion for the stars. In many ways, it is a step from someone who is just fooling around with astronomy to a  student of the science. But you and I both know that there is still  big step after buying a telescope before you really know to use it.

        p.text So it is critically important that you get just the right telescope where you are and what your star gazing preferences are. To start with let’s discuss the three major kinds of and then lay down some “Telescope 101″ concepts to increase your that you buy the right thing.

        p.text Best regards,
        p.text John Appleseed
    .imagesContainer
        .image.image1
        .image.image2
        .image.image3
    .messageBlock
        textarea(placeholder="Hello John, I have no idea what is this message about")
        button Send
        .manupulate
            .attach
            .track
            .text
            .image

