section.message
    .textInput
        span.icon
        input(placeholder='Search for messages…')
    .emailMessage.unread
        span.image
        p.name Penny Knight
        p.label.important Product Designer at Coinbase
        p.text Hello Jakub, We are seeking a Product Designer to join our team in Sosnowiec. We have just re...
        span.timecode 10:10 AM
    .emailMessage.read
        span.image
        p.name Františka Krteček
        p.label Re: Extrémní jízda tramvají v Brne
        p.text Ahoj. Prožijte s Kotlárem tento jedinečný a extrémní zážitek. V sobotu 10.2.2019 se ne...
        span.timecode 9:32 AM
    .emailMessage.active
        span.image
        p.name John Appleseed
        p.label The Basics Of Buying A Telescope
        p.text Hello Jakub, Buying the right telescope to take your love of astronomy to the next level is a bi...
        span.timecode.attachment 9:32 AM
        span.lightning
    .emailMessage.unread
        span.image
        p.name Františka Krteček
        p.label Re: Extrémní jízda tramvají v Brne
        p.text Ahoj. Prožijte s Kotlárem tento jedinečný a extrémní zážitek. V sobotu 10.2.2019 se ne...
        span.timecode 9:32 AM
        span.lightning
    .emailMessage.unread
        span.image
        p.name SSam Sung
        p.label Re: Extrémní jízda tramvají v Brne
        p.text Hello Jakub, We are expanding our Product Design team in Cupertino, CA. At the mom...
        span.timecode 9:32 AM
        span.lightning
    .emailMessage.unread
        span.image
        p.name Františka Krteček
        p.label Re: Extrémní jízda tramvají v Brne
        p.text Ahoj. Prožijte s Kotlárem tento jedinečný a extrémní zážitek. V sobotu 10.2.2019 se ne...
        span.timecode 9:32 AM
        span.lightning
    .emailMessage.unread
        span.image
        p.name Františka Krteček
        p.label Re: Extrémní jízda tramvají v Brne
        p.text Ahoj. Prožijte s Kotlárem tento jedinečný a extrémní zážitek. V sobotu 10.2.2019 se ne...
        span.timecode 9:32 AM
        span.lightning


