.sidebar
    button.newMessage New message
    nav
        ul.mailBox
            li.active All inboxes
                span.icon
                span.mailboxCount 7
            li contant@jakubwp.com
                span.mailboxCount 2
            li dribble@jakubwo.com
                span.mailboxCount 5
        ul.itemList
            li Starred
                span.icon.starred
                span.mailboxCount 3
            li Archive
                span.icon.archive
                span.mailboxCount
            li Thrash
                span.icon.thrash
                span.mailboxCount
            li Spam
                span.icon.spam
                span.mailboxCount
            li Sent
                span.icon.sent
                span.mailboxCount
            li Read Later
                span.icon.readlater
                span.mailboxCount
            li Drafts
                span.icon.drafts
                span.mailboxCount 1

